<!-- <md-sidenaw md-is-open="showLeftSideNav" class="md-sidenav-left">

    <div ng-controller="aromaListCtrl">
        <md-toolbar layout-padding class="md-medium-tall">
            <h2>{{listTite}}</h2>
        </md-toolbar>
    </div>

</md-sidenaw> -->
<div ng-controller="aromaListCtrl">

    <md-button class="md-icon-button" ng-click="toggleLSNav()">OK</md-button>

    <md-sidenav md-is-open="showLSNav" flex="20" class="md-sidenav-left">

        <!-- <md-sidenav md-is-open="showLSNav" class="md-sidenav-left"> -->

        <md-toolbar layout-padding class="md-medium-tall">
            <h2 class="md-toolbar-tools">Действия - аромки</h2>

        </md-toolbar>

        <md-content>
            <p>dddddddddddddd</p>
            <p>dddddddddddddd</p>
            <p>dddddddddddddd</p>
            <p>dddddddddddddd</p>
            <p>dddddddddddddd</p>
        </md-content>

    </md-sidenav>
</div>