<md-dialog>
    <md-dialog-content class="md-dialog-content">
        <h2>{{title}}</h2>
        <!-- Добавляем новый рецепт. -->
        <br/>

        <div layout="row">
            <md-input-container>
                <label>Название рецепта</label>
                <input ng-model="reciept.name">
            </md-input-container>

            <md-input-container>
                <label>Тэг#</label>
                <input ng-model="reciept.tag">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container>
                <label>Мин объем (мл.)</label>
                <input ng-model="reciept.vol">
            </md-input-container>

            <md-input-container>
                <label>Глицерин (VG%)</label>
                <input ng-model="reciept.vg">
            </md-input-container>

            <md-input-container>
                <label>Пропиленгликоль (PG%)</label>
                <input ng-model="reciept.pg">
            </md-input-container>

            <md-input-container>
                <label>Никотин (N мг.)</label>
                <input ng-model="reciept.n">
            </md-input-container>
        </div>
        <md-input-container id="select-aroma-edit">
            <label>Производитель</label>
            <md-select ng-model="aroma.manufacturer" style="width:200px">
                <md-option><em>None</em></md-option>
                <md-option ng-repeat="list in listMan" ng-value="list.name">
                    {{list.name}}
                </md-option>
            </md-select>
        </md-input-container>

    </md-dialog-content>
    <md-dialog-actions align="end">
        <md-button class="md-primary" ng-click="cancel()"> Закрыть</md-button>
        <md-button class="md-primary" ng-click="ok()"> Сохранить</md-button>
    </md-dialog-actions>
</md-dialog>